@page "/hogyan-rendelhetek"
@{
    ViewData["Title"] = "Hogyan rendelhetek?";
}

<section class="page-hero page-hero-soft">
    <div class="container">
        <span class="eyebrow">Hogyan rendelhetek?</span>
        <h1>Átlátható folyamat, néhány egyszerű lépésben.</h1>
        <p>Rendelj egyszerűen és gyorsan nálunk! Válaszd ki kedvenc ételeidet kínálatunkból, add meg a szállítási címet, majd fizess kényelmesen online vagy készpénzzel az átvételkor. Mi frissen elkészítjük rendelésed, és rövid időn belül házhoz szállítjuk. Élvezd az ízeket anélkül, hogy ki kellene mozdulnod!</p>
    </div>
</section>

<section class="content-section">
    <div class="container process-grid">
        <article class="process-card">
            <span class="step-number">1</span>
            <h3>Válassz ételt</h3>
            <p>Nézd át az étlapot, és döntsd el, melyik menü vagy fogás illik a napodhoz.</p>
        </article>
        <article class="process-card">
            <span class="step-number">2</span>
            <h3>Add le a rendelést</h3>
            <p>Egyszerűen helyezd kosárba a kívánt ételt, majd a kosár ikkonra kattintva véglegesítheted is megrendelésed</p>
        </article>
        <article class="process-card">
            <span class="step-number">3</span>
            <h3>Vedd át kényelmesen</h3>
            <p>A megrendelt ételt a megadott időpontban kiszállítjuk, így neked már csak élvezni kell az ebédet.</p>
        </article>
    </div>
</section>
